# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db

# Logs
*.log
